@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/nats');
@import "tailwindcss";

@theme {
    --color-main: #00747C;
    --color-second: #90AD4B;
    --color-third: #00BBC9;
    --font-heading: "Montserrat", sans-serif;
    --font-body: "Poppins", sans-serif;
}