---
import Pattern from "../../assets/pattern.svg"
---

<section class="overflow-hidden bg-main pt-10 pb-12 lg:pt-[120px] lg:pb-[90px]">
    <div class="container mx-auto px-4 md:px-6">
      <div class="flex flex-wrap items-center justify-between -mx-4">
        <div class="w-full px-4 lg:w-6/12">

          <div class="hidden lg:flex items-center -mx-3 sm:-mx-4" data-aos="fade-up-right">
            <div class="w-full px-3 sm:px-4 xl:w-1/2">
              <div class="py-3 sm:py-4">
                <img src="https://demo.tailgrids.com/templates/business/build/src/assets/images/services/image-1.jpg" alt="Imagen Uno" class="rounded-2xl">
              </div>
              <div class="py-3 sm:py-4">
                <img src="https://demo.tailgrids.com/templates/business/build/src/assets/images/services/image-2.jpg" alt="Imagen Dos" class=" rounded-2xl">
              </div>
            </div>
            <div class="w-full px-3 sm:px-4 xl:w-1/2">
              <div class="relative z-10 my-4">
                <img src="https://demo.tailgrids.com/templates/business/build/src/assets/images/services/image-3.jpg" alt="" class="w-full rounded-2xl">
                <span class="absolute -right-7 -bottom-7 z-[-1]">
                    <Pattern />
                </span>
              </div>
            </div>
          </div>

        </div>
        <div class="w-full px-4 lg:w-1/2 xl:w-5/12" data-aos="fade-up-left">
          <div class="mt-10 lg:mt-0">
            <div class="inline-block font-heading uppercase rounded-lg bg-white px-3 py-1 text-lg mb-2">
                ¿Por qué elegirnos?
            </div>
            <h2 class="mb-5 font-heading text-3xl font-bold text-second sm:text-5xl">
                Garantizamos protección y conectividad eficiente para su negocio.
            </h2>
            <p class="mb-5 font-body text-white md:text-lg">
                Nuestro compromiso con la innovación, calidad y transparencia nos permite ofrecer soluciones escalables y adaptadas a las necesidades de cada cliente. 
            </p>
            <p class="mb-8 font-body text-white md:text-lg">
                Nos diferenciamos por brindar garantía de innovación y escalabilidad, asegurando que cada sistema implementado pueda evolucionar con el crecimiento de su empresa.
            </p>
            <a href="/nosotros" class="inline-flex items-center justify-center p-2 font-body font-medium text-center border border-transparent rounded-md px-7 bg-second hover:scale-105 transition">
              Saber más
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>