
---

---


    <section id="contacto" class="w-full py-12 md:py-24 lg:py-32 bg-main">
        <div class="container mx-auto px-4 md:px-6">
          <div class="grid gap-6 lg:grid-cols-2 lg:gap-12">
            <div class="flex flex-col justify-center space-y-4">
              <div class="space-y-2">
                <div class="inline-block font-heading uppercase rounded-lg bg-white px-3 py-1 text-lg">
                    Contáctanos
                </div>
                <h2 class="text-4xl text-white font-bold font-heading  sm:text-5xl md:text-7xl">
                    Déjanos tus datos
                </h2>
                <p class="max-w-[600px] font-body text-white md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
                    ¿Tienes preguntas o quieres mejorar tu seguridad?
                </p>
                <p class="max-w-[600px] font-body text-white md:text-lg/relaxed lg:text-base/relaxed xl:text-lg/relaxed">
                  Nuestro equipo está aquí para ayudarte a encontrar la solución perfecta.
              </p>

               
              </div>
              
              <div class="space-y-4 text-white font-body">
                <div class="flex items-center gap-4">
                  <div class="bg-white p-5 rounded-xl">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-phone h-6 w-6 text-second"
                    ><path
                      d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                    ></path></svg
                  >
                  </div>
                  <div>
                    <h3 class="font-bold">Teléfono</h3>
                    
                    <a target="_blank" href="https://api.whatsapp.com/send/?phone=573003100774&text=Hola%2C%20estoy%20interesado%20en%20sus%20servicios">
                      
                      <p class="">
                        +57 (300) 310-0774
                      </p>
                    </a>
                  </div>
                </div>
                <div class="flex items-center gap-4">
                  <div class="bg-white p-5 rounded-xl">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-mail h-6 w-6 text-main"
                    ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
                      d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
                    >
                  </div>
                  <div>
                    <h3 class="font-bold">Correo electrónico</h3>
                    <a href="mailto:proyectos@rcisas.com" >
                      <p class="">
                        proyectos@rcisas.com
                      </p>
                    </a>
                  </div>
                </div>
                <div class="flex items-center gap-4">
                  <div class="bg-white p-5 rounded-xl">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-map-pin h-6 w-6 text-red-500"
                    ><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"
                    ></path><circle cx="12" cy="10" r="3"></circle></svg
                  >
                  </div>
                  <div>
                    <h3 class="font-bold">Direccion</h3><p
                      class=""
                    >
                      Turbaco, Urbanizacion Santa Ana
                    </p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="flex items-center justify-center">
              <div
                class="rounded-lg border bg-white text-card-foreground w-full max-w-md border-none shadow-lg"
                id="quote"
                data-v0-t="card"
              >
                <div class="flex flex-col space-y-1.5 p-6">
                  <h3 class="text-4xl font-semibold leading-none font-heading tracking-tight">
                    Solicite un presupuesto gratuito
                  </h3><p class="text-sm font-body">
                    Complete el formulario a continuación y nos pondremos en contacto con usted en 24 horas.
                  </p>
                </div><div class="p-6 pt-0">
                  <form class="grid gap-4 font-body">
                    <div class="grid grid-cols-2 gap-4">
                      <div class="space-y-2">
                        <label
                          for="first-name"
                          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                          >Nombre</label
                        ><input
                          id="first-name"
                          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                          placeholder="John"
                        />
                      </div><div class="space-y-2">
                        <label
                          for="last-name"
                          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                          >Apellidos</label
                        ><input
                          id="last-name"
                          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                          placeholder="Doe"
                        />
                      </div>
                    </div><div class="space-y-2">
                      <label
                        for="email"
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        >Correo electrónico</label
                      ><input
                        id="email"
                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        placeholder="tucorreo@ejemplo.com"
                        type="email"
                      />
                    </div><div class="space-y-2">
                      <label
                        for="phone"
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        >Teléfono</label
                      ><input
                        id="phone"
                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        placeholder="(300) 123-4567"
                        type="tel"
                      />
                    </div><div class="space-y-2">
                      <label
                        for="service"
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        >Servicio de interés</label>
                        <select
                        id="service"
                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        ><option value="">Selecciona un servicio</option><option
                          value="video">Videovigilancia</option
                        ><option value="alarm">Sistemas de alarma</option><option
                          value="access">Control de Acceso</option
                        ><option value="other">Otro</option></select>
                    </div><div class="space-y-2">
                      <label
                        for="message"
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        >Mensaje</label
                      ><textarea
                        id="message"
                        class="flex min-h-[100px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        placeholder="Cuentanos acerca de tus necesidades en seguridad..."></textarea>
                    </div>
                    <button
                      class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-main text-white hover:bg-second h-11 rounded-md px-8"
                      type="submit">Enviar solicitud</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
