---

---

 
  <section class="py-20 px-6 bg-gray-400">
    <div class="max-w-5xl mx-auto text-center">

      <h2 class="text-3xl font-bold mb-10 font-heading">
        Así trabajamos
      </h2>

      <div class="grid md:grid-cols-5 gap-6 text-lg font-body ">
        <p>1. Evaluación gratis</p>
        <p>2. Diseño</p>
        <p>3. Instalación</p>
        <p>4. Capacitación</p>
        <p>5. Soporte</p>
      </div>

    </div>
  </section>