---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <section class="py-12 lg:py-20">
    <div class="mx-auto max-w-7xl space-y-6 px-6 text-center md:text-left mt-[20%] md:mt-15">
      <h1 class="font-heading font-medium uppercase tracking-wide ">
        Contáctanos
      </h1>

      <h2 class="font-heading max-w-4xl text-3xl font-medium text-main sm:text-4xl lg:text-6xl">
        ¿Tienes un proyecto en mente?
      </h2>
      <h3 class="font-heading max-w-4xl text-3xl font-medium text-second sm:text-xxl lg:text-7xl">
        Trabajemos juntos
      </h3>
    </div>
  </section>

  <section class="mx-auto max-w-7xl px-6">
    <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
      <!-- Imagen -->
      <div class="flex items-center justify-center">
        <img
          class="w-full max-w-md rounded-md object-cover shadow-md md:max-w-full"
          src="https://cdn.pixabay.com/photo/2019/08/26/06/38/security-4430919_1280.jpg"
          alt="Oficina moderna con seguridad"
          width="500"
          height="500"
        />
      </div>

      <!-- Formulario -->
      <div class="bg-slate-100 rounded-md p-6 shadow-md sm:p-8">
        <form action="" class="space-y-6">
          <div>
            <label for="fullname" class="block text-sm font-medium text-gray-700">
              Nombre completo
            </label>
            <input
              type="text"
              id="fullname"
              name="fullname"
              placeholder="Tu nombre completo"
              class="mt-2 w-full rounded-md border border-gray-300 px-4 py-3 text-gray-700 focus:border-main focus:ring focus:ring-main/30"
            />
          </div>

          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">
              Correo electrónico
            </label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="ejemplo@email.com"
              class="mt-2 w-full rounded-md border border-gray-300 px-4 py-3 text-gray-700 focus:border-main focus:ring focus:ring-main/30"
            />
          </div>

          <div>
            <label for="message" class="block text-sm font-medium text-gray-700">
              Mensaje
            </label>
            <textarea
              id="message"
              name="message"
              rows="5"
              placeholder="Cuéntanos sobre tu proyecto..."
              class="mt-2 w-full rounded-md border border-gray-300 px-4 py-3 text-gray-700 focus:border-main focus:ring focus:ring-main/30"
            ></textarea>
          </div>

          <button
            type="submit"
            class="group ml-auto flex items-center gap-2 rounded-md bg-main px-5 py-2 text-sm font-medium text-white shadow-md transition-all duration-300 hover:bg-primary/90"
          >
            Enviar mensaje
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4 transform transition-transform duration-300 group-hover:translate-x-1.5"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
          </button>
        </form>
      </div>
    </div>
  </section>
</Layout>
