---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <section class="py-12 lg:py-20">
    <div class="mx-auto max-w-7xl space-y-6 px-6 text-center md:text-left mt-[20%] md:mt-15">
      <h1 class="font-heading font-medium uppercase tracking-wide ">
        Contáctanos
      </h1>

      <h2 class="font-heading max-w-4xl text-3xl font-medium text-main sm:text-4xl lg:text-6xl">
        ¿Tienes un proyecto en mente?
      </h2>
      <h3 class="font-heading max-w-4xl text-3xl font-medium text-second sm:text-xxl lg:text-7xl">
        Trabajemos juntos
      </h3>
    </div>
  </section>

  <section class="mx-auto max-w-2xl px-6">
      <!-- Formulario -->
      <div class="bg-slate-100 rounded-md p-6 shadow-md sm:p-8">
        <form id="brevo-form" action="" class="space-y-6">
          <div>
            <label for="nombre" class="block text-sm font-medium text-gray-700">
              Nombre
            </label>
            <input
              type="text"
              id="nombre"
              name="NOMBRE"
              placeholder="Tu nombre completo"
              class="mt-2 w-full rounded-md border border-gray-300 px-4 py-3 text-gray-700 focus:border-main focus:ring focus:ring-main/30"
            />
          </div>

          <div>
            <label for="whatsapp" class="block text-sm font-medium text-gray-700">
              Telefono
            </label>
            <input
              type="text"
              id="whatsapp"
              name="WHATSAPP"
              placeholder="Telefono"
              class="mt-2 w-full rounded-md border border-gray-300 px-4 py-3 text-gray-700 focus:border-main focus:ring focus:ring-main/30"
            />
          </div>

          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">
              Correo electrónico
            </label>
            <input
              type="email"
              id="email"
              name="EMAIL"
              placeholder="ejemplo@email.com"
              class="mt-2 w-full rounded-md border border-gray-300 px-4 py-3 text-gray-700 focus:border-main focus:ring focus:ring-main/30"
            />
          </div>

          <div>
            <label for="mensaje" class="block text-sm font-medium text-gray-700">
              Mensaje
            </label>
            <textarea
              id="mensaje"
              name="MENSAJE"
              rows="5"
              placeholder="Cuéntanos sobre tu proyecto..."
              class="mt-2 w-full rounded-md border border-gray-300 px-4 py-3 text-gray-700 focus:border-main focus:ring focus:ring-main/30"
            ></textarea>
          </div>

          <button
            type="submit"
            class="group ml-auto flex items-center gap-2 rounded-md bg-main px-5 py-2 text-sm font-medium text-white shadow-md transition-all duration-300 hover:bg-primary/90"
          >
            Enviar mensaje
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4 transform transition-transform duration-300 group-hover:translate-x-1.5"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
          </button>
        </form>
      </div>
  </section>

   <dialog id="responseDialog" class="mx-auto rounded-xl p-6 shadow-lg my-auto">
      <p id="responseMessage" class="font-body"></p>
        <form method="dialog">
          <button class="mt-4 px-4 py-2 rounded-lg bg-blue-600 text-white">Cerrar</button>
        </form>
  </dialog>


</Layout>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById("brevo-form").addEventListener("submit", async function(e) {
      e.preventDefault();

      const nombre = e.target.NOMBRE.value;
      const email = e.target.EMAIL.value;
      const mensaje = e.target.MENSAJE.value;
      const whatsapp = e.target.WHATSAPP.value;

      try {
  const response = await fetch("https://api.brevo.com/v3/contacts", {
    method: "POST",
    headers: {
      "Accept": "application/json",
      "Content-Type": "application/json",
      "api-key": import.meta.env.PUBLIC_API_KEY, // ⚠️
    },
    body: JSON.stringify({
      email: email,
      attributes: {
        NOMBRE: nombre,
        WHATSAPP: whatsapp,
        EMAIL: email,
        MENSAJE: mensaje
      },
      listIds: [2]
    })
  });

  const dialog = document.getElementById("responseDialog");
  const messageEl = document.getElementById("responseMessage");

  if (response.ok) {
    messageEl.innerText = "✅ ¡Gracias por tu mensaje! Nos comunicaremos a la mayor brevedad posible.";
    dialog.showModal(); // abre el modal
    e.target.reset();
  } else {
    const error = await response.json();
    console.error(error);
    messageEl.innerText = "⚠️ Hubo un error: " + (error.message || "Intenta de nuevo");
    dialog.showModal();
  }
} catch (error) {
  console.error(error);
  const dialog = document.getElementById("responseDialog");
  const messageEl = document.getElementById("responseMessage");
  messageEl.innerText = "❌ Error en la conexión con el servidor.";
  dialog.showModal();
}

    });
  })
</script>
