---
import Newsletter from "@/sections//Newsletter.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nosotros">
  <section class="py-12 lg:py-32 ">
	
    <div class="mx-auto max-w-7xl space-y-7 px-6 mt-[20%] md:mt-15">
			<h1 class=" font-heading font-medium">NOSOTROS</h1>
      
      <h2 class="font-heading max-w-xl text-4xl font-medium lg:text-5xl text-main">
        Descubre cómo nuestros sistemas de seguridad transforman tu tranquilidad en una realidad.
      </h2>
      <div class="grid gap-6 sm:grid-cols-2 md:gap-12 lg:gap-24">
        <div class="space-y-4 font-body">
			
          <p>
            En nuestra empresa creemos que la seguridad no es un lujo, sino una <span class="text-title font-medium">necesidad esencial</span> para proteger lo que más valoras.             
          </p>

          <p>
            Somos un equipo joven, transparente y profesional, con la energía de una compañía nueva pero respaldados por varios años de experiencia en el sector de la seguridad electrónica.
          </p>
        </div>

        <p class="font-body">
          Contamos con <span class="text-title font-medium">técnicos especializados y en constante capacitación</span>, lo que nos permite instalar y mantener sistemas de CCTV, alarmas, controles de acceso, detección de incendios y cableado estructurado con los más altos estándares de calidad
        </p>
      </div>
    </div>
  </section>

  <section
  class="relative overflow-hidden bg-center bg-no-repeat bg-cover min-h-[400px] sm:min-h-[500px] lg:min-h-[50%]"
  style="background-image: url('https://cdn.pixabay.com/photo/2019/08/26/06/38/security-4430919_1280.jpg');"
>
  <!-- Overlay -->
  <div class="absolute inset-0 bg-black/60"></div>

  <!-- Contenido -->
  <div class="relative z-10 px-6 py-16 sm:px-10 lg:px-20">
    <div class="mx-auto max-w-7xl text-center ltr:sm:text-left rtl:sm:text-right">
      
      <!-- Título -->
      <h2 class="text-2xl font-bold font-heading text-white sm:text-3xl md:text-5xl leading-tight">
        Permítenos ser tu mejor aliado estratégico
      </h2>
      
      <!-- Texto -->
      <div class="mt-4 max-w-3xl text-white/90 font-body md:mt-6 md:text-lg md:leading-relaxed">
        <p>
          Más que instalar equipos, construimos relaciones basadas en la transparencia, la confianza y el compromiso.
        </p>
        <p class="mt-3">
          Cada proyecto lo desarrollamos con dedicación y responsabilidad, como si se tratara de nuestra propia seguridad.
        </p>
      </div>
      
      <!-- CTA -->
      <div class="mt-6 sm:mt-10">
        <a
          href="/servicios"
          class="font-body inline-block rounded-full bg-second px-10 py-3 text-2xl font-medium text-white shadow-lg transition hover:bg-main focus:outline-none focus:ring-2 focus:ring-third focus:ring-offset-2"
        >
          Conoce nuestros servicios
        </a>
      </div>
    </div>
  </div>
</section>

  <section class="relative z-10 mb-36 py-10 lg:py-20">
    <div class="mx-auto max-w-7xl space-y-36 px-4 sm:px-12 lg:px-8 xl:px-16">
      <div class="mx-auto">
        <span class="font-heading font-medium">VISION</span>
        <div class="mt-14 gap-4 sm:grid sm:grid-cols-2 md:gap-6 lg:gap-12">
          <h2 class="text-3xl font-bold sm:text-4xl font-heading text-main">Transformar tu tranquilidad en una realidad</h2>
          <div class="mt-6 space-y-6 text-gray-700 sm:mt-0 font-body">
            <p>
             Ser reconocidos como la empresa de seguridad electrónica más confiable y cercana, destacando por nuestra innovación, transparencia y calidad en cada proyecto, con el propósito de crear entornos más seguros para hogares, negocios y comunidades en la región caribe y Colombia.
            </p>
          </div>
        </div>
      </div>
      <div class="mx-auto ">
        <span class="font-medium font-heading">MISION</span>
        <div class="mt-24 gap-4 sm:grid sm:grid-cols-2 md:gap-6 lg:gap-12">
          <div>
            <h2 class="text-3xl font-bold sm:text-4xl font-heading text-main">
              Tu seguridad, nuestra misión
            </h2>
          </div>
          <div class="mt-6 space-y-6 text-gray-700 sm:mt-0 font-body">
            <p>
              Brindar soluciones integrales en seguridad electrónica a través de un equipo joven, profesional y en constante capacitación. Nos comprometemos a instalar, mantener y optimizar sistemas de CCTV, alarmas, controles de acceso, detección de incendios y cableado estructurado con los más altos estándares de calidad, siempre con transparencia y responsabilidad, para proteger lo que más valoran nuestros clientes.
            </p>
           
          </div>
        </div>
        <div
          class="mt-24 grid gap-4 sm:grid-cols-2 md:gap-6 lg:gap-12 xl:grid-cols-5"
        >
          <div class="xl:col-span-2">
            <img
              class="rounded-md"
              src="https://images.unsplash.com/photo-1668097613572-40b7c11c8727?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="project cover"
              width=""
              height=""
            />
          </div>
          <div class="xl:col-span-3">
            <img
              class="rounded-md"
              src="https://cdn.pixabay.com/photo/2017/08/06/21/28/cctv-2596537_1280.jpg"
              alt="project cover"
              width=""
              height=""
            />
          </div>
        </div>
      </div>

      <div class="mx-auto border-t">
        <span class="font-medium font-heading uppercase"
          >Equipo</span
        >
        <div class="mt-24 gap-4 sm:grid sm:grid-cols-2 md:gap-6 lg:gap-12">
          <div class="">
            <h2 class="text-3xl font-bold sm:text-4xl">Nuestro Equipo de Trabajo</h2>
          </div>
          <div class="mt-6 text-gray-600 sm:mt-0">
            <p>
              
            </p>
          </div>
        </div>

        <div class="mt-24 ">
          <div
            class="grid gap-x-6 gap-y-12 sm:grid-cols-2 lg:grid-cols-3 xl:gap-12">
            <div class="group overflow-hidden">
              <img
                class="h-96 w-full rounded-md object-cover object-top transition-all duration-500 group-hover:h-[22.5rem] group-hover:rounded-xl"
                src="https://cdn.pixabay.com/photo/2022/09/12/17/39/man-7450033_1280.jpg"
                alt="team member"
                width="826"
                height="1239"
              />
              <div class="px-3 pt-2 sm:pt-4 sm:pb-0">
                <div class="flex justify-between">
                  <h3
                    class="text-xl font-medium text-gray-700 transition-all duration-500 group-hover:tracking-wider group-hover:text-primary"
                  >
                   Freddy Javier Sarmiento
                  </h3>
                  
                </div>
                <div class="mt-1 flex items-center justify-between">
                  <span
                    class="inline-block translate-y-6 text-sm text-gray-600 transition duration-300 group-hover:translate-y-0"
                    >Fundador - Director</span
                  >
                  <a
                    href=""
                    class="inline-block translate-y-8 text-sm tracking-wide text-gray-600 transition-all duration-500 group-hover:translate-y-0 group-hover:text-primary"
                  >
                    Linktree
                  </a>
                </div>
              </div>
            </div>
           
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <Newsletter />

  </Layout>
