---
import Layout from "@/layouts/Layout.astro";


---

<Layout title="Control de Acceso en Cartagena - RCI" description="Descubre nuestros servicios de control de acceso en Cartagena. Soluciones seguras y eficientes para proteger tu propiedad y garantizar la seguridad de tus instalaciones." image="/images/control-acceso-cartagena.jpg">
  <section class="bg-gray-50">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
      <div class="mx-auto max-w-lg text-center">
        <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">Control de Acceso en Cartagena</h2>
        <p class="mt-4 text-gray-500">Descubre nuestros servicios de control de acceso en Cartagena. Soluciones seguras y eficientes para proteger tu propiedad y garantizar la seguridad de tus instalaciones.</p>
      </div>
    </div>
  </section>    
</Layout>